*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family:'Barlow', sans-serif;
}


.wrapper{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    #1f3757 0%,
    #131537 100%
  );
display: flex;
flex-direction: column;
align-items: center;
}
.scoreboard{
width: 700px;
border: 2px solid #C0C0C0;
border-radius: 15px;
display: flex;
justify-content: space-between;
padding: 15px 18px;
margin-top: 38px; 
animation-name: borderchange;
animation-duration: 2s;
animation-delay: 1s;
animation-iteration-count: infinite;

}
/* .scoreboard:s{
    border: 2px solid #099FFF;
} */
.score{
    background: white;
    width: 108px;
    height: 97px;
    border: 1px solid white;
    border-radius: 8px;
    text-align: center;
     padding: 19px 0px 0px 0px;
    /* display: flex;
    align-items: center; */
    animation: all 1s;
}
.score p{
    color:#412fdd; 
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    letter-spacing: 2px;
}
.score h1{
    color: #565468;
    font-size: 40px;
}
.hands{
    margin-top: 100px;
    width: 476px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-image: url(/assets/triangle.png);
    background-repeat: no-repeat;
 background-position: center;
}.scissors{
    margin-left: 20px;
}
.paper{
margin-right: 20px;
}
.hands .hand {
    cursor: pointer;
    transition: all 0.25s;
  }
  
  .hands .hand:hover {
    transform: translate3d(0px, -8px, 0px);
}

.contest{
    display: none;
    margin-top: 50px;
    width: 900px;
}
.contest img{
    width: 275px;
    height: 275px;
}
.contest > div{
    flex: 1;
}
.contest h1{
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}
.contest .handImageContainer{
    display: flex;
    justify-content: center;
}
.refree{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.refree h1{
    font-size: 45px;
}
.newGame{
    background-color: white;
    padding: 12px 24px;
    border-radius: 6px;
    cursor:pointer;
    color: hsl(229, 25%, 31%);
    transition: all 0.15s;
}
.newGame:hover{
    background-color: bisque;
    transform: translate3d(0px ,-2px,0px);
}
/* Animations */
@keyframes borderchange{
    from{
        border: 2px solid #C0C0C0;
    }
    to{
        border: 2px solid #099FFF;

    }
}